---
import Layout from '@layouts/base.astro';
import { getCollection } from 'astro:content';
import { type InferGetStaticPropsType } from 'astro';

export async function getStaticPaths() {
    const team = await getCollection('team');
    return team.map((person) => ({
        params: { slug: person.slug },
        props: { person }
    }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { person } = Astro.props;
const { Content } = await person.render();
---

<Layout title={person.data.name}>
    <div class="max-w-prose mx-auto md:p-8 prose prose-headings:font-aleo">
        <div class="md:flex items-center gap-5">
            <div class="">
                <img width="150" height="150" src={person.data.photo.src} class="rounded-full object-cover aspect-square" transition:name=`img-${person.data.photo.src}` />
            </div>

            <div class="mb-0">
                <h1 class="mb-0" transition:name=`name-${person.data.name}`>{person.data.name}</h1>
                <em transition:name=`position-${person.data.name}`>{person.data.position}</em>
            </div>
        </div>
        <Content />
    </div>
</Layout>
