---
import Layout from '@layouts/base.astro';
import { getCollection } from 'astro:content';
import { type InferGetStaticPropsType } from 'astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
    const team = await getCollection('team');
    return team.map((person) => ({
        params: { slug: person.slug },
        props: { person }
    }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { person } = Astro.props;
const { Content } = await person.render();
---

<Layout title={person.data.name} description={person.data.position}>
    <div class="max-w-prose mx-auto md:p-8 prose prose-headings:font-aleo">
        <div class="md:flex items-center gap-5">
            <Image
                alt={`${person.data.name} profile picture`}
                width={600}
                height={600}
                src={person.data.photo}
                class="rounded-full object-cover h-40 w-40 aspect-square"
                transition:name={`person-img-${person.slug}`}
            />
            <div class="mb-0">
                <h1 class="mb-0" transition:name={`person-name-${person.slug}`}>{person.data.name}</h1>
                <em transition:name={`person-position-${person.slug}`}>{person.data.position}</em>
            </div>
        </div>
        <Content />
    </div>
</Layout>
