---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import Layout from '@layouts/base.astro';

const title = 'Unicorn';
const headline = 'What is the unicorn project?';
const content =
    'Deserunt esse magna ipsum aute dolore velit enim pariatur. \
    Ea cupidatat laboris eiusmod sint enim elit enim tempor elit. \
    Tempor ullamco labore adipisicing exercitation nostrud. Dolore \
    do labore laboris cillum cillum excepteur tempor. Laboris \
    eiusmod consequat cillum voluptate ipsum anim qui sint.';

const team = await getCollection('team');

const articles = await getCollection('articles');
---

<Layout title="Welcome to unicorn.">
    <>
        <!-- Project hero section -->
        <section class="p-12 max-w-5xl mx-auto">
            <h1 class="font-merryweather font-extrabold text-7xl text-gray-800 hidden md:block py-8">{title}</h1>
            <h2 class="font-aleo text-xl font-semibold">{headline}</h2>
            <p class="mt-2">{content}</p>
        </section>

        <!-- Team section -->
        <section class="p-8 bg-white shadow dark:bg-gray-800 flex flex-col gap-14 mt-4 items-center md:flex-row justify-center evenly w-full">
            {
                team.map((person) => (
                    <div>
                        <a href={`team/${person.slug}`} class="relative block">
                            <Image alt="profil" src={person.data.photo} width={200} height={200} class="mb-4 mx-auto object-cover rounded-full h-40 w-40 grayscale" />
                        </a>
                        <dl class="text-center">
                            <dt class="font-aleo text-xl text-gray-800 dark:text-white">{person.data.name}</dt>
                            <dd class="text-md font-light text-gray-500 dark:text-gray-200 ">{person.data.position}</dd>
                        </dl>
                    </div>
                ))
            }
        </section>

        <!-- Latest articles -->
        <section class="px-12 py-20 bg-lightblue max-w-5xl mx-auto flex flex-col md:flex-row">
            <h2 class="font-aleo w-full mr-8 text-3xl font-extrabold leading-9 mb-6 md:mb-0 md:w-1/4">News</h2>
            <dl class="w-full md:w-3/4">
                {
                    articles.map((article) => (
                        <>
                            <dt class="mb-4">
                                <h3 class="font-aleo text-xl font-semibold">{article.data.heading}</h3>
                            </dt>
                            <dd class="mb-16">
                                <p>{article.data.summary}</p>
                            </dd>
                        </>
                    ))
                }
            </dl>
        </section>
    </>
</Layout>
