---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import Layout from '@layouts/base.astro';

const headline = 'What is the unicorn project?';
const content =
    'The Unicorn project develops a new scaling framework based on anisotropy to understand turbulence in complex terrain, improving predictive capability in climate and extreme weather.';

let team = await getCollection('team');

let ivana = team.filter((person) => person.data.name === 'Ivana Stiperski')[0]!;

let news = (await getCollection('news')).sort((a, b) => (a.data.date.getTime() > b.data.date.getTime() ? 1 : -1));
---

<Layout title="Welcome to unicorn" description="Unicorn webpage">
    <!-- Project hero section -->
    <section class="py-10">
        <h1 class="font-merriweather text-7xl text-gray-800 block py-8">
            unic<Image width={50} height={50} src="/logo.svg" alt="logo" class="inline-block align-middle" />rn
        </h1>
        <h2 class="font-aleo text-xl font-semibold">{headline}</h2>
        <p class="mt-2 max-w-3xl">{content}</p>
    </section>

    <!-- Testimonial -->
    <section class="flex flex-col md:flex-row items-center justify-center gap-10 px-20 py-10">
        <a href={`/team/${ivana.slug}`} class="inline-block h-36 w-36 aspect-square" rel="prefetch">
            <Image
                alt={`${ivana.data.name} profile picture`}
                src={ivana.data.photo}
                width={600}
                height={600}
                class="object-cover rounded-full aspect-square grayscale"
                transition:name={`person-img-${ivana.slug}`}
            />
        </a>
        <blockquote class="text-sm">
            <p class="italic font-thin indent-4">
                Laborum nostrud aute ullamco mollit quis nisi et ea. Anim est ipsum eiusmod do incididunt non nostrud deserunt enim elit proident nisi.
            </p>
            <footer class="text-right py-2">- Ivana Stiperski, <cite>Unicorn's Principal Investigator<cite></cite></cite></footer>
        </blockquote>
    </section>

    <!-- Latest articles -->
    <section class="py-10 bg-lightblue flex flex-col md:flex-row">
        <h2 class="font-aleo w-full mr-8 text-3xl font-extrabold leading-9 mb-6 md:mb-0 md:w-1/4">News</h2>
        <div class="w-full md:w-3/4">
            {
                news.map((article) => (
                    <article>
                        <h3 class="font-aleo text-xl font-semibold mb-6" transition:name={`news-title-${article.slug}`}>
                            <a href={`/news/${article.slug}`}>{article.data.heading}</a>
                        </h3>
                        <p class="indent-8">{article.data.summary}</p>
                        <a class="italic inline-block text-right w-full mb-20 underline" href={`./news/${article.slug}`} rel="prefetch">
                            read more...
                        </a>
                    </article>
                ))
            }
        </div>
    </section>
</Layout>
