---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import Layout from '@layouts/base.astro';

const headline = 'What is the unicorn project?';
const content =
    'Deserunt esse magna ipsum aute dolore velit enim pariatur. \
    Ea cupidatat laboris eiusmod sint enim elit enim tempor elit. \
    Tempor ullamco labore adipisicing exercitation nostrud. Dolore \
    do labore laboris cillum cillum excepteur tempor. Laboris \
    eiusmod consequat cillum voluptate ipsum anim qui sint.';

const team = await getCollection('team');

const articles = await getCollection('articles');
---

<Layout title="Welcome to unicorn.">
    <>
        <!-- Project hero section -->
        <section class="py-10">
            <h1 class="font-merryweather text-7xl text-gray-800 block py-8">
                unic<Image width={50} height={50} src="/logo.svg" alt="logo" class="inline-block align-middle" />rn
            </h1>
            <h2 class="font-aleo text-xl font-semibold">{headline}</h2>
            <p class="mt-2">{content}</p>
        </section>

        <!-- Team section -->
        <section class="bg-white flex flex-col gap-14 items-center md:flex-row justify-center evenly py-10">
            {
                team.map((person) => (
                    <div>
                        <a href={`/team/${person.slug}`} class="relative block">
                            <Image alt="profil" src={person.data.photo} width={200} height={200} class="mb-4 mx-auto object-cover rounded-full h-40 w-40 grayscale" />
                        </a>
                        <dl class="text-center">
                            <dt class="font-aleo text-xl text-gray-800">{person.data.name}</dt>
                            <dd class="text-md font-light text-gray-500 ">{person.data.position}</dd>
                        </dl>
                    </div>
                ))
            }
        </section>

        <!-- Latest articles -->
        <section class="py-10 bg-lightblue flex flex-col md:flex-row">
            <h2 class="font-aleo w-full mr-8 text-3xl font-extrabold leading-9 mb-6 md:mb-0 md:w-1/4">News</h2>
            <dl class="w-full md:w-3/4">
                {
                    articles.map((article) => (
                        <>
                            <dt class="mb-4">
                                <h3 class="font-aleo text-xl font-semibold">{article.data.heading}</h3>
                            </dt>
                            <dd class="mb-16">
                                <p>{article.data.summary}</p>
                            </dd>
                        </>
                    ))
                }
            </dl>
        </section>
    </>
</Layout>
