---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import Layout from '../layouts/base.astro';

const title = 'Unicorn';
const headline = 'What is the unicorn project?';
const content =
    'Deserunt esse magna ipsum aute dolore velit enim pariatur. \
    Ea cupidatat laboris eiusmod sint enim elit enim tempor elit. \
    Tempor ullamco labore adipisicing exercitation nostrud. Dolore \
    do labore laboris cillum cillum excepteur tempor. Laboris \
    eiusmod consequat cillum voluptate ipsum anim qui sint.';

const team = await getCollection('team');

const articles = await getCollection('articles');
---

<style>
    .bg-mountains {
        background-image: url(/images/mountains.jpg);
    }
</style>

<Layout title="Welcome to unicorn.">
    <!-- Project hero section -->
    <div class="bg-[url(/images/mountains.jpg)] p-10 bg-cover">
        <div class="max-w-screen-xl p-8 mx-auto">
            <h1 class="text-4xl md:text-9xl text-gray-400 font-extrabold text-center text font-serif hidden md:block p-8">
                {title}
            </h1>

            <section class="md:w-2/5">
                <h2 class="text-base md:text-lg font-medium leading-6 text-gray-900">{headline}</h2>
                <p class="mt-2">
                    <p class="text-sm md:text-base leading-6 text-gray-500 mix-blend-plus-lighter">
                        {content}
                    </p>
                </p>
            </section>
        </div>
    </div>

    <!-- Team section -->
    <div class="p-8 bg-white shadow dark:bg-gray-800">
        <div class="flex flex-col mt-4 items-center md:flex-row justify-center evenly w-full">
            {
                team.map((person) => (
                    <div class="p-4">
                        <div class="mb-4 text-center opacity-90">
                            <a href="#" class="relative block">
                                <Image alt="profil" src={person.data.photo} width={200} height={200} class="mx-auto object-cover rounded-full h-40 w-40 grayscale" />
                            </a>
                        </div>
                        <dl class="text-center">
                            <dt class="text-2xl text-gray-800 dark:text-white">{person.data.name}</dt>
                            <dd class="text-md font-light text-gray-500 dark:text-gray-200 ">{person.data.position}</dd>
                        </dl>
                    </div>
                ))
            }
        </div>
    </div>

    <!-- Latest articles -->
    <div class="px-4 py-20 bg-lightblue">
        <div class="flex flex-col max-w-6xl mx-auto md:flex-row">
            <h2 class="w-full mr-8 text-3xl font-extrabold leading-9 mb-6 md:mb-0 md:w-1/3">News</h2>
            <dl class="w-full md:w-2/3">
                {
                    articles.map((article) => (
                        <dl>
                            <dt class="mb-4">
                                <h3 class="text-xl font-semibold">{article.data.heading}</h3>
                            </dt>
                            <dd class="mb-16">
                                <p>{article.data.summary}</p>
                            </dd>
                        </dl>
                    ))
                }
            </dl>
        </div>
    </div>
</Layout>
