---
import Layout from '@layouts/base.astro';
import { getCollection } from 'astro:content';

let news = await getCollection('news');
news = news.sort((a, b) => (a.data.date.getTime() > b.data.date.getTime() ? 1 : -1));
---

<Layout title="News" description="Unicorn news">
    <!-- Latest articles -->
    <section class="py-10 bg-lightblue">
        <h2 class="font-aleo w-full mr-8 text-3xl font-extrabold leading-9 mb-6">News</h2>
        <dl class="w-full flex flex-col">
            {
                news.map((article) => (
                    <article class="my-4">
                        <h3 class="font-aleo text-xl font-semibold" transition:name={`news-title-${article.slug}`}>
                            <a href={`/news/${article.slug}`}> {article.data.heading} </a>
                        </h3>
                        <p class="my-6">{article.data.summary}</p>
                        <p class=" inline-block text-right w-full">
                            <a class="underline" href={`/news/${article.slug}`} rel="prefetch">
                                read more...
                            </a>
                        </p>
                    </article>
                ))
            }
        </dl>
    </section>
</Layout>
