---
import Layout from '@layouts/base.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

let team = await getCollection('team');

let professors = team.filter((person) => person.data.position === 'Professor');
let postdoctorals = team.filter((person) => person.data.position === 'Postdoctoral');
let phds = team.filter((person) => person.data.position === 'PhD Student');
---

<Layout title="Team">
    <section class="bg-white py-10 w-full">
        <!-- <h1 class="font-merryweather text-5xl text-gray-800 py-8">
            unic<Image width={30} height={30} src="/logo.svg" alt="logo" class="inline-block" />rn's team:
        </h1> -->
        <!-- <p>
            Excepteur quis mollit excepteur exercitation incididunt sint officia cupidatat duis ad quis ipsum. Et labore qui qui esse officia elit aute aliquip. Qui irure esse ea
            laborum amet aliqua elit irure
        </p> -->

        <div class="bg-white grid grid-cols-3 py-10 w-full">
            <h1 class="text-2xl font-aleo">Professors</h1>
            {
                professors.map((person) => (
                    <div class="flex flex-row gap-8 items-center justify-start col-span-2">
                        <a href={`/team/${person.slug}`} class="inline-block h-24 w-24 aspect-square">
                            <Image alt="profil" src={person.data.photo} width={200} height={200} class="object-cover rounded-full h-full w-full grayscale" />
                        </a>
                        <dl class="">
                            <dt class="font-aleo text-xl text-gray-800">{person.data.name}</dt>
                        </dl>
                    </div>
                ))
            }
        </div>
        <div class="bg-white grid grid-cols-3 py-10">
            <h1 class="text-2xl font-aleo">Postdoctoral</h1>
            <div class="flex gap-8 items-center col-span-2 justify-start flex-wrap">
                {
                    postdoctorals.map((person) => (
                        <div class="flex flex-row gap-8 items-center justify-start col-span-2">
                            <a href={`/team/${person.slug}`} class="inline-block h-24 w-24 aspect-square ">
                                <Image alt="profil" src={person.data.photo} width={200} height={200} class="object-cover rounded-full h-full w-full grayscale" />
                            </a>
                            <dl class="">
                                <dt class="font-aleo text-xl text-gray-800">{person.data.name}</dt>
                            </dl>
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="bg-white grid grid-cols-3 py-10">
            <h1 class="text-2xl font-aleo">PhD Students</h1>
            <div class="flex gap-8 items-center col-span-2 justify-start flex-wrap">
                {
                    phds.map((person) => (
                        <div class="flex flex-row gap-8 items-center justify-start col-span-2">
                            <a href={`/team/${person.slug}`} class="inline-block h-24 w-24 aspect-square ">
                                <Image alt="profil" src={person.data.photo} width={200} height={200} class="object-cover rounded-full h-full w-full grayscale" />
                            </a>
                            <dl class="">
                                <dt class="font-aleo text-xl text-gray-800">{person.data.name}</dt>
                            </dl>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>
